h2 { 
    font-family: Aktiv Grotesk;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
} 

html{
    height: 100%
}
body {
    height: 100%
}

#root {
    height: 100%
}
